<script type="text/javascript">
	$(document).ready(function() {
		$('li#home-page').addClass('active');
	});
</script>

<div class="content">
	<!--<% if !signed_in? %>
		<%= link_to "Войти в систему", signin_path %>
	<% end %>-->
	<h1>Меню</h1><hr>
	<ul class="nav nav-pills menu-nav">
	<li><%= link_to "Заявки", requests_path %></li>
	<li><%= link_to "Поручения", message_tasks_path %></li>
	</ul>
	<hr>
	<ul class="nav nav-pills menu-nav">
	<li><%= link_to "Автоматы", machines_path %></li>
	<li><%= link_to "Типы сигналов", messages_path %></li>
	<li><%= link_to "Типы поручений", tasks_path %></li>
	</ul>
</div>