<div id="request">
  <script type="text/javascript">
    $(document).ready(function() {
      $("#new_message").on("ajax:success", function(e, data, status, xhr){
      }).bind("ajax:error", function(e, xhr, status, error){
        console.log(xhr.responseText);
      });

      $('#new-type-button').find('button').click(function(event) {
        var liElem = $('<li><div class="row"><div class="col-md-8"></div><div class="col-md-2 text-left"></div></div></li>');
        var inputElem = $('<input type="text" class="form-control" placeholder="Введите новый тип">');
        var createButton = $('<button type="button" class="btn btn-default">Создать</button>');

        createButton.click(function(event) {
            var checkBoxElem = $('<%= check_box_tag "new_tasks[]", nil, true %> ').val(inputElem.val());
            var checkBoxLiElem = $('<li class="new-type">' +
            '<div class="btn-group" data-toggle="buttons">' +
              '<label id="newCheck" class="btn btn-default active"></label>' +
            '</div>' +
            '</li>');

            checkBoxElem.bind('change', function(){
              checkBoxLiElem.remove();
            });

            checkBoxLiElem.find("#newCheck").append(checkBoxElem);
            checkBoxLiElem.find("#newCheck").append(inputElem.val());

            checkBoxLiElem.insertBefore(liElem);
            liElem.remove();
            event.preventDefault();
        });

        liElem.find(".col-md-8").first().append(inputElem);
        liElem.find(".col-md-2").first().append(createButton);
        liElem.insertBefore($('#new-type-button'));
        inputElem.focus();
      });

      $('#newModal').on('hidden.bs.modal', function (e) {
        $('li.new-type').remove();
      });
    });
  </script>
  
  <%= form_for(@message, remote: true, :html => {:class => "form-horizontal", :style => "margin-top: 15px;"}) do |f| %>
    <div id="request_type" class="form-group">
      <%= f.label :request_type, "Тип заявки", :class => "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.select :request_type, options_for_select(Request.request_types.map { |k, v| [ v, k ] }), {}, { :class => "form-control" } %>
      </div>
    </div>
    <div id="name" class="form-group">
      <%= f.label :name, "Наименование", :class => "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>

    <h3 class="text-center">Типы поручений</h3>
    <ul class="non-point">
      <% Task.all.each do |task| %>
        <li>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default">
            <%= check_box_tag "tasks[]", task.id, false %> <%= task.name %>
          </label>
        </div>
        </li>
      <% end %>
      <li id="new-type-button"><button type="button" class="btn btn-default">Новый тип поручения</button></li>
    </ul>
    <div class="form-footer text-right">
      <%= f.submit "Подтвердить", class: "btn btn-primary" %>
    </div>
  <% end %>  
</div>

