<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">
      p {
        margin-bottom: 3px;
        margin-top: 3px;
      }
    </style>
  </head>
  <body>
    <% if @employee.email %>
      <h2>Уважаемый <%= @employee.name %></h2>
      <p>
        Вы являетесь <strong>контролером</strong> поручения 
        <%= @request_task.id %> (<strong><%= @request_task_attrs["task_name"] %></strong>) в системе Новый Вендинг.
      </p>
      <p>
        Поручение было выполнено <strong><%= @execution_date %></strong>.
      </p>
      <p>
        Дата выполнения была запланирована на  <strong><%= @deadline_date %></strong>.
      </p>
      <p>
        Чтобы подтвердить прочтение, перейдите по ссылке:
      </p>
      <p>
        <big>
          <%= link_to("Прочитать", url_for(controller: 'request_tasks',
              action: 'index',
              only_path: false,
              host: @host)) %>
        </big>
      </p>

      <%= render 'request_info' %>

      <p>
        <strong>Необходимо проконтроллировать поручений:</strong> <%= @to_audit_count %>.
      </p>

      <p>Спасибо!</p>
    <% end %>
  </body>
</html>