function updateEmployee()
{
	if("<%= @employee.errors.count %>" != 0)
	{
		var msg = $("#error-msg");
		showErrorMessage("Количество ошибок: <%= @employee.errors.count %><br>" +
		                 "Проверьте обязательные для ввода поля",
		                 msg);
	}
	else
	{
		var tr = $("<tr style='opacity: 1;' id='<%= @employee.id %>' data-link='<%= edit_employee_path(@employee) %>'>" +
			"<td class='actions'>" + 
				"<%= escape_javascript(check_box_tag 'for_destroy[]', @employee.id, false) %>" +
			"</td>" +
			"<td><%= @employee.id %></td>" +
			"<td><%= @employee.name %></td>" +
		"</tr>");
		
		employeesTemplate.updateRow(tr, <%= raw @employee.attributes.to_json %>);

	}
}

updateEmployee();