<div class="btn-group" style="margin-bottom: 15px;">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newModal">Создать</button>
</div>

<div class="table-responsive standart-table-container">

<table id="tasks-table" class="table table-striped table-hover table-condensed table-bordered table-autosort">
  <thead>
    <tr>
      <th class="table-sortable:numeric table-sortable">Номер</th>
      <th class="table-sortable:default table-sortable">Тип сигнала</th>
      <th class="table-sortable:default table-sortable">Наименование</th>
      <th>Действия</th>
    </tr>
    <tr>
      <th>Фильтр:</th>
      <th>
        <select class="form-control" onchange="Table.filter(this,this)">
        <option value>Все</option>
        <%= options_for_select(Message.all.map { |k| [ k.name, k.name ] }) %>
        </select>
      </th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th></th>
    </tr>
  </thead>

  <tbody id ="tasks">
    <% @tasks.each do |task| %>
      <tr id="<%= task.id %>">
        <td><%= task.id %></td>
        <td><%= task.message.name %></td>
        <td><%= task.name %></td>
        <td><%= link_to 'Удалить', task, method: :delete, data: { confirm: 'Вы уверены?' }, class: "delete", remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  
</div>