<div id="task">
  <script type="text/javascript">
    $(document).ready(function() {
      $("#new_task").on("ajax:success", function(e, data, status, xhr){
      }).bind("ajax:error", function(e, xhr, status, error){
        console.log(xhr.responseText);
      });

      $('#messages_for_task').multiselect({
        numberDisplayed: 2,
        buttonText: function(options, select) {
          if (options.length == 0) {
            return "Не выбрано" + ' <b class="caret"></b>';
          }
          else {
            if (options.length > this.numberDisplayed) {
              return options.length + ' ' + "выбрано" + ' <b class="caret"></b>';
            }
            else {
              var selected = '';
              options.each(function() {
                var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();
   
                selected += label + ', ';
              });
              return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
            }
          }
        }
      });
    });
  </script>
  
  <%= form_for(@task, remote: true, :html => {:class => "form-horizontal", :style => "margin-top: 15px;"}) do |f| %>
    <div id="messages" class="form-group">
      <%= label_tag :messages_for_task, "Типы сигналов", :class => "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= select_tag :messages_for_task, options_for_select(Message.all.collect { |m| [ m.name, m.id ] }), :class => "multiselect", :multiple => "multiple", :name => "messages[]" %>
      </div>
    </div>
    <div id="name" class="form-group">
      <%= f.label :name, "Наименование", :class => "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>
    <div id="deadline" class="form-group">
      <%= f.label :deadline, "Плановый срок (дней)", :class => "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <%= f.number_field :deadline, :class => "form-control" %>
      </div>
    </div>
    <div id="msg"></div>
    <div class="form-footer text-right">
      <%= f.submit "Подтвердить", class: "btn btn-primary" %>
    </div>
  <% end %>  
</div>

