function addNewTask()
{
	if("<%= @task.errors.count %>" != 0)
	{
		var msg = $("#error-msg");
		showErrorMessage("Количество ошибок: <%= @task.errors.count %><br>" +
		                                        "Проверьте обязательные для ввода поля",
		                                        msg);
		
		var errors = <%= raw @task.errors.to_json %>;

		for(var key in errors) {
			if(errors[key].length > 0) {
				$('#newModal').find('#' + key).addClass('has-error');
			}
		}
	}
	else
	{
		$("<tr style='opacity: 0;' id='<%= @task.id %>'>" +
			"<td><%= @task.id %></td>" +
			'<td><%= @task.messages.collect{ |m| m.name }.join(", ") %></td>' +
			"<td><%= @task.name %></td>" +
			"<td><%= if @task.id then escape_javascript(link_to 'Удалить', @task, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'delete', remote: true) end %></td>" +
		"</tr>").prependTo("#tasks-table #tasks")
		.animate({opacity: 1}, 500, function() {
		});

		var msg = $("#success-msg");
		showSuccessMessage("Тип поручения успешно создан", msg);

		var form = $("#new_task");
    	form.find("#task_name").val('');

    	function multiselect_deselectAll($el) {
		  $('option', $el).each(function(element) {
			$el.multiselect('deselect', $(this).val());
		  });
		}
		
    	multiselect_deselectAll($('#messages_for_task'));

    	$('#newModal div').removeClass('has-error');

    	$('#newModal').modal('hide');
	}
}

addNewTask();