<script type="text/javascript"> 
  var allRequestsTemplate;

  $(document).ready(function() {
    allRequestsTemplate = new AllRequestsTemplate();

    allRequestsTemplate.init(<%= raw (@requests.map{ |r| r.getFullInfo }).to_json %>);
    allRequestsTemplate.parmDeleteActionSelector("a[data-remote].delete");
    allRequestsTemplate.parmEditActionSelector("a[data-remote].edit");
    allRequestsTemplate.parmTableSelector("#requests-table-container");
    allRequestsTemplate.parmEditFormSelector("#request_edit");
    allRequestsTemplate.parmExtractingSelector("#request");

    allRequestsTemplate.setDeleteAction();
    allRequestsTemplate.setEditAction();
    allRequestsTemplate.setHoverAction();
  });
</script>
<div id="requests-table-container" class="table-responsive standart-table-container">
<h1>Заявки</h1>
<table id="requests-table" class="table table-striped table-hover table-condensed table-bordered table-autosort">
  <thead>
    <tr>
      <th class="table-sortable:numeric table-sortable">Номер</th>
      <th class="table-sortable:default table-sortable">Регистратор</th>
      <th class="table-sortable:default table-sortable">Решатель</th>
      <th class="table-sortable:default table-sortable">Автомат</th>
      <th class="table-sortable:default table-sortable">Описание</th>
      <th class="table-sortable:default table-sortable">Тип</th>
      <th>Действия</th>
    </tr>
    <tr>
      <th>Фильтр:</th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th>
        <select class="form-control" onchange="Table.filter(this,this)">
        <option value>Все</option>
        <%= options_for_select(Request.request_types.map { |k, v| [ v, v ] }) %>
        </select>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody id ="requests">
    <% @requests.each do |request| %>
      <%= link_to(edit_request_path(request), remote: true, class: "edit") do %>
      <tr id="<%= request.id %>" data-link="<%= edit_request_path(request) %>">
        <td><%= request.id %></td>
        <td><%= request.registrar.name %></td>
        <td><%= request.solver.name %></td>
        <td><%= link_to request.machine.name, machine_path(request.machine) %></td>
        <td><%= request.description %></td>
        <td><%= Request.request_types[request.request_type.to_sym] %></td>
        <td class="actions">
          <%= link_to 'Удалить', request, method: :delete, data: { confirm: 'Вы уверены?' }, class: "delete", remote: true %>,
          <%= link_to 'Поручения', message_tasks_path(:request_id => request.id), class: "tasks" %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<div id="full-request-info" class="content bubble" style="min-width: 0;">
  <div id="full-request-messages" class="display-inline-block">
    <table id="request-messages-table" class="table table-condensed">
      <thead>
        <tr>
          <th>Сигналы заявки</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="full-message-tasks" class="display-inline-block">
    <table id="message-tasks-table" class="table table-condensed">
      <thead>
        <tr>
          <th>Поручения заявки</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="full-phone-number" class="display-inline-block"></div>
</div>
</div>

<div id="request_edit" class="text-center displacer"></div> 