<script type="text/javascript">
  var clickX, clickY;

  function setDeleteAction(element)
  {
    element.on("ajax:success", function(e, data, status, xhr){
    }).bind("ajax:error", function(e, xhr, status, error){
      console.log(xhr.responseText);
    });
  }

  function setEditAction(element)
  {
    element.click(function(e) {
        var editForm = $("#request_edit");
        editForm.css("top", e.pageY + "px")
        .css("left", (e.pageX - editForm.width()) + "px");
    });

    element.on("ajax:success", function(e, data, status, xhr){
        var editForm = $("#request_edit");
        editForm.empty();

        var btn = $("<input type='button' value='X' class='btn' style='float: right;'>");
        btn.bind("click", function(event) {
            editForm.animate({opacity: 0}, 500, function() {
                editForm.css("display", "none").empty();
            });
        });
        editForm.append($(btn));

        editForm.append($("<h1>Редактирование заявки</h1>"));
        editForm.append($(xhr.responseText).find("#request"));

        editForm.css("display", "block");
        if(editForm.css("opacity") != 1)
        {
            editForm.css("opacity", "0");
            editForm.animate({opacity: 1}, 500, function() {});
        }
    }).bind("ajax:error", function(e, xhr, status, error){
        console.log(xhr.responseText);
    });
  }

  $(document).ready(function() {
    setDeleteAction($("a[data-remote].delete"));
    setEditAction($("a[data-remote].edit"));
  });
</script>
<table class="standart-table">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Сотрудник</th>
      <th>Автомат</th>
      <th>Описание</th>
      <th>Действия</th>
    </tr>
  </thead>

  <tbody id ="requests">
    <% @requests.each do |request| %>
      <tr id="<%= request.id %>">
        <td><%= request.id %></td>
        <td><%= request.employee %></td>
        <td><%= link_to request.machine.name, machine_path(request.machine) %></td>
        <td><%= request.description %></td>
        <td class="actions"><%= link_to 'Удалить', request, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn delete", remote: true %> <%= link_to 'Править', edit_request_path(request), remote: true, class: "edit btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>