<script type="text/javascript">
  var clickX, clickY;

  function setDeleteAction(element)
  {
    element.on("ajax:success", function(e, data, status, xhr){
    }).bind("ajax:error", function(e, xhr, status, error){
      console.log(xhr.responseText);
    });
  }

  $(document).ready(function() {
    setDeleteAction($("a[data-remote].delete"));
    Bubble($("a[data-remote].edit"), $("#request_edit"), "#request", "Редактирование заявки");
    Bubble($("a[data-remote].request_messages"), $("#request_messages"), "#filtered-request-messages", undefined);
  });
</script>
<div class="standart-table-container">

<table id="requests-table" class="standart-table table-autosort">
  <thead>
    <tr>
      <th class="table-sortable:numeric table-sortable">Номер</th>
      <th class="table-sortable:default table-sortable">Сотрудник</th>
      <th class="table-sortable:default table-sortable">Автомат</th>
      <th class="table-sortable:default table-sortable">Описание</th>
      <th class="table-sortable:default table-sortable">Тип</th>
      <th>Сигналов</th>
      <th>Действия</th>
    </tr>
    <tr>
      <th>Фильтр:</th>
      <th><input type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input type="text" onkeyup="Table.filter(this,this)"></th>
      <th>
        <select onchange="Table.filter(this,this)">
        <option value>Все</option>
        <%= options_for_select(Request.request_types.map { |k, v| [ v, v ] }) %>
        </select>
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id ="requests">
    <% @requests.each do |request| %>
      <tr id="<%= request.id %>">
        <td><%= request.id %></td>
        <td><%= request.employee %></td>
        <td><%= link_to request.machine.name, machine_path(request.machine) %></td>
        <td><%= request.description %></td>
        <td><%= Request.request_types[request.request_type.to_sym] %></td>
        <td>
          <%= link_to (request.request_messages.length.to_s), request_messages_path(:id => request.id), remote: true, class: "request_messages", :method => :post %>
        </td>
        <td class="actions">
          <%= link_to 'Удалить', request, method: :delete, data: { confirm: 'Вы уверены?' }, class: "delete", remote: true %>,
          <%= link_to 'Править', edit_request_path(request), remote: true, class: "edit" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  
</div>