<div id="request">
  <div id="msg">
    
  </div>
  <%= form_for(@request, remote: true) do |f| %>
    <div class="field mandatory">
      <%= f.label :machine_id, "Автомат" %><br>
      <%= f.select :machine_id, options_for_select(Machine.all.collect {|m| [ m.name, m.id ] }, :selected => @request.machine_id ) %>
    </div>
    <div class="field mandatory">
      <%= f.label :description, "Описание" %><br>
      <%= f.text_field :description %>
    </div>
    <%= f.submit "Подтвердить", class: "btn btn-large" %>
  <% end %>  
</div>

