<div id="request">
  <script type="text/javascript">
    $(document).ready(function() {
      var form = $("#new_request");
      var machine_id = "#machine_id";
      var description = "#description";
      var submit = "input[type='submit']";
      var otherButton = "#other-button";
      var otherButtonContainer = "#other-button-container";
      var phone = "#phone";
      var solver = "#solver_id";

      $(submit).css("margin-top", "10px");

      function showElement(elem) {
        form.find(elem).removeClass('display-none');
      }

      function hideElement(elem) {
        form.find(elem).addClass('display-none');
      }

      var checkable = new Checkable(otherButton, function() {
          switch($(otherButton).attr('activated'))
          {
            case 'true':
              showElement(description);
              break;
            case 'false':
              hideElement(description);
              form.find("#request_description").val('');
              break;
          }
      });

      var switchable = new FormSwitchable("#btn-group", function(){
        checkable.checkOff();
        showElement(machine_id);
        showElement(submit);
        showElement(otherButtonContainer);

        switch($("#btn-group").attr("value"))
        {
          case 'phone':
            showElement(phone);
            break;
          case 'other':
            hideElement(phone);
            break;
        }

        form.find("#request_request_type")
        .find("option[value='" + $("#btn-group").attr('value') + "']")
        .attr('selected', 'selected');

        form.find("#request_description").val('');
        form.find("#request_phone").val('');

        $("#messages").empty();
        $("#tasks").empty();
      },
      "#request_type");

      $("#btn-group form").on("ajax:success", function(e, data, status, xhr){
        $("#messages").append($(xhr.responseText).find("#filtered-messages"));
        $("#tasks").append($(xhr.responseText).find("#tasks-of-messages"));
      }).bind("ajax:error", function(e, xhr, status, error){
        console.log(xhr.responseText);
      });

      $("#new_request").on("ajax:success", function(e, data, status, xhr){
        hideElement(machine_id);
        hideElement(description);
        hideElement(submit);
        hideElement(otherButtonContainer);
        hideElement(phone);
        $("#messages").empty();
        $("#tasks").empty();
        switchable.switchOff();
      }).bind("ajax:error", function(e, xhr, status, error){
        console.log(xhr.responseText);
      });
    });
  </script>
  
  <div id="btn-group">
    <% Request.request_types.each do |key, value| %>
      <%= form_tag('messages_for_request', :remote => true, :style => "display: inline-block;") do %>
        <%= hidden_field_tag 'request_type', key %>
        <%= submit_tag value, :class => "btn" %>
      <% end %>
    <% end %>
  </div>
  
  <%= form_for(@request, remote: true) do |f| %>
    <div id="solver_id" class="field mandatory">
      <%= f.label :solver_id, "Решатель" %><br>
      <%= f.select :solver_id, options_for_select(Employee.order('name ASC').all.collect {|e| [ e.name, e.id ] }, :selected =>  signed_in? ? current_user.employee.id : nil ) %>
    </div>
    <div id="request_type" class="field mandatory display-none">
      <%= f.label :request_type, "Тип заявки" %><br>
      <%= f.select :request_type, options_for_select(Request.request_types.map { |k, v| [ v, k ] }) %>
    </div>
    <div id="machine_id" class="field mandatory display-none">
      <%= f.label :machine_id, "Автомат" %><br>
      <%= f.select :machine_id, options_for_select(Machine.order('name ASC').all.collect {|m| [ m.name, m.id ] }, :selected => @request.machine_id ) %>
    </div>
    <div id="phone" class="field display-none">
      <%= f.label :phone, "Номер телефона" %><br>
      <%= f.text_field :phone %>
    </div>
    <div id="messages" class="display-inline-block">
    </div>
    <div id="other-button-container" class="display-inline-block display-none">
      <button id="other-button" type="button" class="btn">Другое</button>
    </div>
    <div id="description" class="field display-none">
      <%= f.label :description, "Описание" %><br>
      <%= f.text_field :description %>
    </div>
    <div id="tasks"></div>
    <div id="msg"></div>
    <div class="form-footer">
      <%= f.submit "Подтвердить", class: "btn btn-large display-none" %>
    </div>
  <% end %>  
</div>

