<div id="filtered-messages">
<script type="text/javascript">
	$(document).ready(function() {
		$(".message-checker").each(function(index, el) {
			var checkbox = $(el).find("input[type='checkbox']");
			var button   = $(el).find('button');

			function check(btn, chk){
				if(btn.hasClass('active'))
				{
					btn.removeClass('active');
					chk.prop('checked', false);
					$(".task#" + btn.attr('value')).addClass('display-none');
				}
				else
				{
					btn.addClass('active');
					chk.prop('checked', true);

					$(".task#" + btn.attr('value')).removeClass('display-none');
				}
			}
			button.click(function(event) {
				check(button, checkbox);
			});
		});
	});
</script>
	<% @messages.each do |message| %>
		<div class="message-checker">
			<button class="btn btn-default" type="button" value="<%= message.id %>"><%= message.name %></button>
	    	<%= check_box_tag 'messages[]', message.id, false, :class => "display-none" %>
		</div>
	<% end %>
</div>

<div id="tasks-of-messages">
	<% if @messages.size != 0 %>
	<h3>Создадутся поручения:</h3>
	<% end %>
	<% @messages.each do |message| %>
		<div id="<%= message.id %>" class="task display-none">
			<% message.tasks.each do |task| %>
				<%= task.name %><br>
			<% end %>
		</div>
	<% end %>
</div>