<div id="filtered-messages">
<script type="text/javascript">
	$(document).ready(function() {
		var buttons = $('.task-button');

		$(".message-checker").each(function(index, el) {
			var checkbox = $(el).find("input[type='checkbox']");
			var button  = $(el).find('button.task-button');

			function check(btn, chk){
				$('.task').addClass('display-none');

				if(btn.hasClass('active'))
				{
					btn.removeClass('active');
					chk.prop('checked', false);
				}
				else
				{
					btn.addClass('active');
					chk.prop('checked', true);
				}

				buttons.each(function(index, but) {
					if($(but).hasClass('active')) {
						$(".task" + $(but).attr('value')).removeClass('display-none');	
					}				
				});
			}

			button.click(function(event) {
				check($(this), checkbox);
			});
		});
	});
</script>
	<% @messages.each do |message| %>
		<div class="message-checker">
			<button class="btn btn-default task-button" type="button" value="<%= message.id %>"><%= message.name %></button>
	    	<%= check_box_tag 'messages[]', message.id, false, :class => "display-none" %>
		</div>
	<% end %>
</div>

<div id="tasks-of-messages">
	<% if @messages.size != 0 %>
	  <h3>Создадутся поручения:</h3>
	  <% Task.all.each do |task| %>
		  <div class='task display-none <%= task.messages.collect { |m| "task" + m.id.to_s }.join(" ") %>'>
		  	<%= task.name %>
		  </div>
	  <% end %>
	<% end %>
</div>