function updateRequest()
{
	var msg = $("#request_edit").find("#msg");

	if("<%= @request.errors.count %>" != 0)
	{
		showErrorMessage("Количество ошибок: <%= @request.errors.count %><br>" +
		                 "Проверьте обязательные для ввода поля",
		                 msg);
	}
	else
	{
		<% if @request.machine %>
			var tr = $("<tr style='opacity: 1;' id='<%= @request.id %>' data-link='<%= edit_request_path(@request) %>'>" +
								"<td><%= @request.id %></td>" +
				"<td><%= @request.registrar.name %></td>" +
				"<td><%= @request.solver.name %></td>" +
				"<td><%= escape_javascript(link_to @request.machine.name, machine_path(@request.machine)) %></td>" +
				"<td><%= @request.description %></td>" +
				"<td><%= Request.request_types[@request.request_type.to_sym] %></td>" +
				"<td class='actions'>" + 
					"<%= escape_javascript(link_to 'Удалить', @request, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'delete', remote: true) %>" +
				"</td>" +
			"</tr>");
			
			allRequestsTemplate.updateRow(tr, <%= raw @request.getFullInfo.to_json %>);

		<% end %>
	}
}

updateRequest();