function updateRequest()
{
	var msg = $("#request_edit").find("#msg");
	msg.empty();
	msg.css("opacity", "0");
	msg.css("display", "none");

	if("<%= @request.errors.count %>" != 0)
	{
		msg.append("<span class='msg-error'>Количество ошибок: <%= @request.errors.count %><br>" +
		                                        "Проверьте обязательные для ввода поля</span>");
	}
	else
	{
		<% if @request.machine %>

			$("<tr style='opacity: 1;' id='<%= @request.id %>'>" +
								"<td><%= @request.id %></td>" +
				"<td><%= @request.employee %></td>" +
				"<td><%= escape_javascript(link_to @request.machine.name, machine_path(@request.machine)) %></td>" +
				"<td><%= @request.description %></td>" +
				"<td><%= Request.request_types[@request.request_type.to_sym] %></td>" +
				"<td>" +
          			"<%= if @request.id then escape_javascript(link_to (@request.request_messages.length.to_s), request_messages_path(:id => @request.id), remote: true, class: 'request_messages', :method => :post) end %>" +
       		    "</td>" +
				"<td class='actions'>" + 
					"<%= escape_javascript(link_to 'Удалить', @request, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'delete', remote: true) %>, " +
					"<%= if @request.id then escape_javascript(link_to 'Править', edit_request_path(@request), remote: true, class: 'edit') end %> " +
				"</td>" +
			"</tr>").insertAfter("#<%= @request.id %>");
			$("#<%= @request.id %>").remove();
			$("#request_edit").animate({opacity: 0}, 500, function() {
				$(this).css("display", "none").empty();
				setDeleteAction($("a[data-remote].delete"));
		    	Bubble($("a[data-remote].edit"), $("#request_edit"), "#request", "Редактирование заявки");
    			Bubble($("a[data-remote].request_messages"), $("#request_messages"), "#filtered-request-messages", undefined);
			});

		<% end %>
	}

	msg.css("display", "block");
	msg.animate({opacity: 1}, 500).
		animate({opacity: 1}, 5000).
		animate({opacity: 0}, 1000, function() { msg.css("display", "none") });
}

updateRequest();