if("<%= @request.errors.count %>" != 0)
{
	$("#request_edit").find("#error").empty();
	$("#request_edit").find("#error").append("<span class='msg-error'>Количество ошибок: <%= @request.errors.count %></span><br>" +
	                                        "<span class='msg-error'>Проверьте обязательные для ввода поля</span>");
}
else
{
	<% if @request.machine %>

		$("<tr style='opacity: 1;' id='<%= @request.id %>'>" +
			"<td><%= @request.id %></td>" +
			"<td><%= @request.employee %></td>" +
			"<td><%= escape_javascript(link_to @request.machine.name, machine_path(@request.machine)) %></td>" +
			"<td><%= @request.description %></td>" +
			"<td class='actions'><%= escape_javascript(link_to 'Удалить', @request, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn delete', remote: true) %>  <%= escape_javascript(link_to 'Править', edit_request_path(@request), remote: true, class: 'edit btn') %></td>" +
		"</tr>").insertAfter("#<%= @request.id %>");
		$("#<%= @request.id %>").remove();
		$("#request_edit").animate({opacity: 0}, 500, function() {
			$(this).css("display", "none").empty();
			setDeleteAction($("a[data-remote].delete"));
	    	setEditAction($("a[data-remote].edit"));
		});

	<% end %>
}