<script type="text/javascript"> 
  var requestTasksTemplate;

  $(document).ready(function() {
    requestTasksTemplate = new RequestTasksTemplate();

    requestTasksTemplate.init(<%= raw (@request_tasks.map{ |r| r.getFullInfo }).to_json %>);
    requestTasksTemplate.parmTableSelector("#request-tasks-table-container");
    requestTasksTemplate.parmEditFormSelector("#request_task_edit");
    requestTasksTemplate.parmExtractingSelector("#request_task");

    requestTasksTemplate.setEditAction();
  });
</script>

<h1 style="display: inline-block;">Поручения, где я
<%= form_tag(request_tasks_path, method: "get", :style => "display: inline-block;") do %>
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-link btn-lg <%= @who_am_i.include?("assigner") ? "active" : "" %>">
    <%= check_box_tag 'who_am_i[]', "assigner", @who_am_i.include?("assigner"), :class => "display-none" %> Назначатель,
  </label>
  <label class="btn btn-link btn-lg <%= @who_am_i.include?("executor") ? "active" : "" %>">
    <%= check_box_tag 'who_am_i[]', "executor", (@who_am_i.include? "executor"), :class => "display-none" %> Исполнитель,
  </label>
  <label class='btn btn-link btn-lg <%= @who_am_i.include?("auditor") ? "active" : "" %>'>
    <%= check_box_tag 'who_am_i[]', "auditor", (@who_am_i.include? "auditor"), :class => "display-none" %> Контролер
  </label>
</div>
<%= submit_tag("Применить", class: "btn btn-default") %>
<% end %></h1>
<br>

<div id="request-tasks-table-container" class="table-responsive standart-table-container">
<table class="table table-striped table-hover table-condensed table-bordered table-autosort" id="request-tasks-table">
  <thead>
    <tr>
      <th class="table-sortable:numeric table-sortable">Номер</th>
      <th class="table-sortable:default table-sortable">Тип</th>
      <th class="table-sortable:default table-sortable">Назначатель</th>
      <th class="table-sortable:default table-sortable">Исполнитель</th>
      <th class="table-sortable:default table-sortable">Контролер</th>
      <th class="table-sortable:default table-sortable">Описание</th>
      <th class="table-sortable:date table-sortable">Дата создания</th>
      <th class="table-sortable:date table-sortable">Плановая дата</th>
      <th class="table-sortable:date table-sortable">Дата выполнения</th>
      <th class="table-sortable:date table-sortable">Дата проверки</th>
    </tr>
    <tr>
      <th>Фильтр:</th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
    </tr>
  </thead>
  <tbody>
    <% @request_tasks.each do |request_task| %>
      <tr id="<%= request_task.id %>" data-link="<%= edit_request_task_path(request_task) %>">
        <td><%= request_task.id %></td>
        <td><%= request_task.task.name %></td>
        <td><%= request_task.assigner.name %></td>
        <td><%= request_task.executor ? request_task.executor.name : "" %></td>
        <td><%= request_task.auditor ? request_task.auditor.name : "" %></td>
        <td><%= request_task.description %></td>
        <td><%= request_task.creation_date.to_s(:db) %></td>
        <td><%= request_task.deadline_date ? request_task.deadline_date.to_s(:db) : "" %></td>
        <td><%= request_task.execution_date ? request_task.execution_date.to_s(:db) : "" %></td>
        <td><%= request_task.audition_date ? request_task.audition_date.to_s(:db) : "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id="request_task_edit" class="text-center displacer"></div> 