<%= form_tag(request_tasks_path, method: "get", :class => "form-horizontal") do %>
	<div class="form-group">
		<%= label_tag(:request_id, "Номер заявки", :class => "col-sm-2 control-label") %>
		<div class="col-sm-10">
  			<%= select_tag(:request_id, options_for_select(Request.all.collect {|m| [m.id, m.id]}.unshift(["Все", nil]), :selected => @request_id ), { :class => "form-control" }) %>	
		</div>
	</div>
	<div class="form-group">
		<%= label_tag(:who_am_i, "Тип поручения", :class => "col-sm-2 control-label") %>
		<div class="col-sm-10">
  		<%= select_tag(:who_am_i, options_for_select([["Все", "all"],["Созданные мной", "assigner"],["Порученные мне", "executor"],["Для контроля", "auditor"]], :selected => @who_am_i), { :class => "form-control" }) %>	
		</div>
	</div>
  
  	<%= submit_tag("Искать", class: "btn btn-primary") %>
<% end %>