<table class="standart-table">
  <thead>
    <tr>
      <th>Номер</th>
      <th>uid</th>
      <th>Имя</th>
      <th>Расположение</th>
      <th>Тип</th>
    </tr>
  </thead>

  <tbody id ="machines">
    <% @machines.each do |machine| %>
      <tr id="<%= machine.id %>">
        <td><%= link_to machine.id, machine_path(machine) %></td>
        <td><%= link_to machine.uid, machine_path(machine) %></td>
        <td><%= link_to machine.name, machine_path(machine) %></td>
        <td><%= link_to machine.location, machine_path(machine) %></td>
        <td><%= link_to machine.machine_type, machine_path(machine) %></td>
      </tr>
    <% end %>
  </tbody>
</table>