<div class="table-responsive standart-table-container">
<table id="machines-table" class="table table-striped table-hover table-condensed table-bordered table-autosort">
  <thead>
    <tr>
      <th class="table-sortable:numeric table-sortable">Номер</th>
      <th class="table-sortable:default table-sortable">uid</th>
      <th class="table-sortable:default table-sortable">Имя</th>
      <th class="table-sortable:default table-sortable">Расположение</th>
      <th class="table-sortable:default table-sortable">Тип</th>
    </tr>
    <tr>
      <th>Фильтр:</th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
      <th><input class="form-control" type="text" onkeyup="Table.filter(this,this)"></th>
    </tr>
  </thead>

  <tbody id ="machines">
    <% @machines.order('name ASC').each do |machine| %>
      <tr id="<%= machine.id %>">
        <td><%= link_to machine.id, machine_path(machine) %></td>
        <td><%= link_to machine.uid, machine_path(machine) %></td>
        <td><%= link_to machine.name, machine_path(machine) %></td>
        <td><%= link_to machine.location, machine_path(machine) %></td>
        <td><%= link_to machine.machine_type, machine_path(machine) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>