<script type="text/javascript">
    $(document).ready(function() {
      $(".user-menu").click(function(event) {
          $(this).find("ul").css("display", "block");
          $(this).animate({left: 0},
            200, function() {});
      });

      $(".user-menu").hover(function() {
          $(this).css("cursor", "pointer");
      }, function() {
          $(this).find("ul").css("display", "none");
          $(this).animate({left: "-100px"},
            100, function() {});
      });
    });
  
</script>

<header>
  <div class="navbar">
    <div class="logo">
        <%= link_to "Новый Вендинг", root_path, id: "logo" %>
    </div>
    <nav>
      <ul class="nav">
        <li><%= link_to "Главная", root_path %></li>
        <li><%= link_to "Помощь",  help_path %></li>

        <% if signed_in? %>
            <li><%= link_to "Выйти", signout_path, method: "delete" %></li>
        <% else %>
            <li><%= link_to "Войти", signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <% if signed_in? %>
      <div class="user-menu">
        <ul>
          <li><%= link_to "Заявки",      requests_path %></li>
          <li><%= link_to "Автоматы",    machines_path %></li>
          <li><%= link_to "Сигналы",     messages_path %></li>
          <li><%= link_to "Поручения сигналов", message_tasks_path %></li>
          <li><%= link_to "Мой профиль", user_path(current_user.id) %></li>
        </ul>
        <div class="menu-label">Меню</div>
      </div>
  <% end %>
</header>