<script type="text/javascript">
    $(document).ready(function() {
      $(".user-menu").click(function(event) {
          $(this).find("ul").css("display", "block");
          $(this).animate({left: 0},
            200, function() {});
      });

      $(".user-menu").hover(function() {
          $(this).css("cursor", "pointer");
      }, function() {
          $(this).find("ul").css("display", "none");
          $(this).animate({left: "-100px"},
            100, function() {});
      });
    });
   
</script>

<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Новый Вендинг", root_path, id: "logo", class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Поиск">
          </div>
          <button type="submit" class="btn btn-default">Искать</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li id="home-page"><%= link_to "Главная", root_path %></li>
          <% if signed_in? %>
            <li id="user-page"><%= link_to current_user.name, user_path(current_user) %></li>
            <li><%= link_to "Настройки", "#" %></li>
            <li><%= link_to "Выйти", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Войти", signin_path %></li>
            <li><%= link_to "Регистрация", new_user_path %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>