<ul id="main-menu" class="nav nav-pills nav-stacked">
  <li id="requests"><%= link_to "Заявки",      requests_path %></li>
  <li id="message-tasks"><%= link_to "Поручения", message_tasks_path %></li>
  <li id="my-message-tasks"><%= link_to "Мои поручения", message_tasks_path(:action_type => "my") %></li>
  <li id="machines"><%= link_to "Автоматы",    machines_path %></li>
  <li id="messages"><%= link_to "Типы сигналов",     messages_path %></li>
  <li id="tasks"><%= link_to "Типы поручений",   tasks_path %></li>
</ul>