<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>	
</head>
<body>

<script type="text/javascript">
	$(document).ready(function() {
		$(".content").css("opacity", "0");
		$(".content").animate({opacity: 1}, 300, function() {});
	});
</script>

<div application
	id="newVending" 
	ng-controller="<%= @ng_controller || 'Application' %>Ctrl"
	class="application"
	signed="<%= signed_in? %>"
	menu-position="<%= signed_in? ? current_user.menu_position : 'hidden' %>"
	user-id="<%= signed_in? ? current_user.id : nil %>">
	<%= render 'layouts/header' %>

	<div class="menu">
		<% if signed_in? %>
			<%= render 'layouts/menu' %>
		<% end %>
	</div>

	<div class="workspace">
		<%= yield %>
	</div>

</div>

</body>
</html>
