<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>	
</head>
<body>

<script type="text/javascript">
	$(document).ready(function() {
		$(".content").css("opacity", "0");
		$(".content").css("top", "-50px");
		$(".content").animate({opacity: 1, 'top': "0px"}, 300, function() {});
	});
</script>

<%= render 'layouts/header' %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<%= render 'layouts/menu' %>
		</div>
		<div class="col-md-10">
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
